@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";



body {
  font-family: 'Montserrat', sans-serif;
}
.font-logo {
  font-family: 'Cinzel', serif;
}
.font-tagline {
  font-family: 'Playfair Display', serif;
}

body {
  margin: 0;
  padding:0;
}

